.slides {
  width: $slide-width;
  height: $slide-height;
}

@media screen {
  .slides.not-printing {
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -0.5 * $slide-width;
    margin-top: -0.5 * $slide-height;
  }

  .slides.not-printing section {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
  }

  .slides.not-printing section.active {
    display: block;
  }
}

.slides section {
  width: 100%;
  height: 100%;
  overflow: hidden;

  padding-left: $slide-margin-left;
  padding-top: $slide-margin-top;
  padding-right: $slide-margin-right;
  padding-bottom: $slide-margin-bottom;
}

@media print {
  .slides section { 
    page-break-after: always;
  }
}
